#lightbox {
    position: fixed;
    z-index: 5;
    top: -100vh;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);

    .img-container {
        height: 100vh;

        .close {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }

    .lightbox-img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .chevron {
        color: lighten(#333, 25);
        cursor: pointer;

        &:hover {
            color: #333;
        }
    }
}

.vh-100 {
    height: 100vh;
}

@media screen and (max-width: 767px) {
    .img-container {
        width: 100vw;
    }

    .chevron {
        height: 45px;
        width: 45px;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.7);
        position: absolute;
        margin-top: 50%;

        &:first-child {
            left: 20px;
        }

        &:last-child {
            right: 20px;
        }

        svg {
            margin: 0 auto;
        }
    }
}
