@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext');
@import "variables.scss";
@import "album.scss";
@import "images.scss";
@import "gallery.scss";
@import "lightbox.scss";

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    color: lighten(black, 25);
}

img, svg {
    user-select: none;
}
